.left-page, .right-page {
    width: 40%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color:rgb(145, 95, 49);
    top: -2%;
}

.left-page {
    /* background-color: blue; */
    transform: skewY(-1.25deg);
}

.right-page {
    /* background-color: red; */
    transform: skewY(0.5deg);
}


.header-info{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.header-info h3, .header-info h4, .header-info h5{
    margin: 0;
    padding: 0;
}

.image-holder {
    position: relative;
    width: 45%;

    aspect-ratio: 1 / 1;
}

.image-holder img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    pointer-events: none;
}

.devil-fruit-image{
    opacity: 0.8;
    filter: sepia(1) saturate(0.6) hue-rotate(-20deg) brightness(0.9) contrast(1.2);
}

.border{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
    filter: invert(0.5) sepia(20) hue-rotate(-25deg) brightness(0.8);
}

.devil-fruit-info{
    gap: 0.3vw;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.name-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.devil-fruit-info h3{
    font-size: 1.2vw
}

.name-holder h3{
    font-family: "Gallaecia Forte";
    font-size: 0.6vw
}

.debut-info{
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.debut-info h5{
    font-size: 0.5vw;
}


.type-holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vw;
    align-items: center;

}

.type-image{
    position: relative !important;
    width: 20% !important;
    height: 100% !important;
    aspect-ratio: 1 / 1 !important;
    object-fit: contain !important;
    filter: invert(0.5) sepia(20) hue-rotate(-25deg) brightness(0.7) !important;
}

.devil-fruit-type{
    display: flex;
    align-items: center;
    font-size: 0.85vw;
    width: 90%;
    margin: 0;
}

.holder-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0,0,0,0.07);
    padding: 0.4vw;
}
.holder-container h4{
    font-family: "Gallaecia Forte";
    font-weight: 500;
    font-size: 1.25vh;
    margin: 0;
    padding: 0;
    line-height: 2vh;
}
.past-holder{
    text-decoration:underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
    text-decoration-color: rgb(0,0,0,0.5);
    text-decoration-thickness: 0.1vw;
}

.description-info h3, .description-info h4, .description-info h5, .description-info p{
    margin: 0;
    padding: 0;
}

.description-info{
    display: flex;
    flex-direction: column;
    gap:1.3vw;
    font-family: "Thin pixel";
}

.desc-group{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.description-info h5{
    font-size: 2.3vw;
    line-height: 0.02vw;
}

.description-info p{
    font-size: 1.5vw;
    line-height: 1vw;
}

.awakening{
    border-top: 0.2vw solid rgb(0,0,0,0.1);
    padding-top: 1vw;
}