.book {
    position: absolute;
    top: 43%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 120%;
}

.book img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
}

.book-ref {
    z-index: 1;
}

.content-ref {
    z-index: 3;
}

.book-content-holder {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44vw;
    height: 28vw;
    overflow: hidden;
    z-index: 2;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
}

.left-page, .right-page {
    width: 43%;
    height: 94%;
    overflow: hidden;
    position: relative;
}

.left-page {
    background-color: blue;
    transform: skewY(-1deg);
}

.right-page {
    background-color: red;
    transform: skewY(1deg);
}

.book-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-controller button {
    width: 100px;
    height: 50px;
    background-color: #b66f46;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.book-controller button:hover {
    background-color: #441b1b;
}